body {
    background-color: #f8f8f8;
    overflow-x: hidden;
}

.brands {
    margin: 0 0 $container-padding-lg 0;
    padding: 0 $container-padding;
    padding-right: 0;

    @media (min-width: $screen-lg) {
        margin-left: $menu-width;
        padding: 0 $container-padding-md;
    }

    &__title-block {
        width: 100vw;
        height: 80px;
        margin-left: -16px;
        margin-right: -16px;
        background: linear-gradient(to right, #f8f8f8, #ffffff 100%);
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 24px;
    }

    &__list--hidden{
        display: none;
    }

    &__title {
        font-size: 16px;
        font-weight: 400;
        color: $color-grey;
        margin: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        max-height: 160px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        @media (max-width: 1360px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1024px) and (max-width: 1110px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__item {
        width: 240px;
        height: 72px;
        background: #fff;
        border: 1px solid $color-border;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 0 16px;

        &--hidden {
            display: none;
        }

        img {
            max-width: 100%;
            max-height: 40px;
        }
    }

    .close-btn {
        display: none;
    }

    &__show-all {
        margin-top: 16px;
        color: black;
        border: none;
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        background: none;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            order: -1;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__hide-all {
        margin-top: 16px;
        color: black;
        border: none;
        font-family: 'TT Lakes';
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        background: none;
        padding: 0;
        display: none;
        align-items: center;
        gap: 8px;

        img {
            order: -1;
            transform: rotate(180deg);
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}