.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: $container-padding $container-padding-md;
    font-family: $font-main;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    height: $header-height;


    @media (min-width: $screen-lg) {
        display: none;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    @media (min-width: $screen-sm) {
        padding: $container-padding-md;
    }

    &__divider {
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }


    button {
        background: none;
        border: none;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
            filter: brightness(1.2);
        }
    }

    &__burger {
        @media (min-width: $screen-lg) {
            display: none;
        }
    }

    &__logo {
        img {
            width: 96px;
            height: 50px;
        }

        @media (min-width: $screen-md) {
            margin-right: auto;
        }
        
    }

    .icons-right {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    &__icons-left {
        display: flex;
        align-items: center;
        gap: 16px;
    }

}